body {
  background-image: url("./public/background.jpeg");
  font-family: Tahoma, Geneva, sans-serif;
}

.App {
  text-align: center;
  display: flex;
  align-items: stretch;
  height: 700px;
}

.hiddenContainer {
  order: 1;
  width: 35px;
  background-color: rgba(0, 0, 0, 0.4);
}

.sideContainer {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
  order: 1;
  width: 130px;
}

.sideContainer:hover {
  background-color: rgba(0, 0, 0, 0.2);

}

.container {
  order: 2;
  margin: 10px 10px 10px 20px;
  width: 526px;
}

.trigger-icons {
  border-radius: 0.3em;
  margin: 30px 10px;
  width: 90px;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition-duration: 0.5s;
}


.trigger-icons:hover {
  cursor: pointer;
  width: 110px;
  height: 125px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.resume-doc {
  height: 680px;
}

.video-demo-container {
  flex-direction: column;
  align-content: space-around;
  padding-top: 20px;
  order: 3;
  margin: 10px 10px 10px 60px;
  width: 680px;
}

.scanner-vid {
  margin-top: 45px;
}

.icon {
  width: 175px;
  margin: 15px;
  transition-duration: 0.5s;
}

.icon:hover {
  width: 180px;
  cursor: pointer;
}

.required {
  border-radius: 10px;
}

.lang-icon {
  width: 90px;
  margin: 15px;
}

.lang-icon-top {
  width: 70px;
  margin: 15px;
}

.college-detailed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flatiron-detailed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.workExp-detailed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-detailed {
  width: 175px;
  position: fixed;
  transition-duration: 0.5s;
}

.icon-detailed:hover {
  cursor: pointer;
}

.prof-pic {
  width: 225px;
  margin: 15px;
}

.top-row {
  height: 160px;
  background-color: rgb(195, 196, 206, 0.8);
  transition-duration: 2s;
}

.top-row:active {
  height: 160px;
  background-color: rgb(195, 196, 206, 0);
}

.middle-row {
  height: 160px;
  background-color: rgb(195, 196, 206, 0.8);
  transition-duration: 2s;
}

.middle-row:active {
  height: 160px;
  background-color: rgb(195, 196, 206, 0);
}

.bottom-row {
  height: 160px;
  background-color: rgb(195, 196, 206, 0.8);
  transition-duration: 2s;
}

.bottom-row:active {
  height: 160px;
  background-color: rgb(195, 196, 206, 0);
}

.burger-button {
  width: 25px;
  margin-top: 10px;
}
